.apiKey

/assignment_9/2006_talks
/assignment_9/chroma_data
/assignment_9/mathtextbook
assignment_9/dating.csv
/assignment_9/dataing
/assignment_9/dateing
assignment_9/2-b-assignment.zip
assignment_10_tool_calling/assignment_10_tools.zip
assignment_11_advanced_toolCalling/.gradio/certificate.pem
assignment_11_advanced_toolCalling/thermite_recipe.txt
/assignment_11_advanced_toolCalling/plots_out
assignment_14_multi_agent_work_flow/.env
canvas_to_clickup/.env
